:root {
  --base-bgcolor: #fff;
  --base-color: #000;
  --base-font-family-fallback: sans-serif;
  --base-font-family: Helvetica;
  --base-font-size: 16px;
  --base-font-weight: 400;
  --base-line-height: 1.5;
}

@custom-media --media-xs (max-width: 320px);
@custom-media --media-sm (max-width: 480px);
@custom-media --media-md (max-width: 640px);
@custom-media --media-lg (max-width: 960px);
