<table class="site__footer">

  <tr>
    <td>

      <table class="grid" align="center">
        <tr>
          <td>
            <p><a href="#">Unsubscribe</a></p>
          </td>
        </tr>
      </table> <!-- .grid -->

    </td>
  </tr>

</table> <!-- .site__footer -->
