<table class="site__header">

  <tr>
    <td>

      <table class="grid" align="center">
        <tr>
          <td>
            <p>HEADER</p>
          </td>
        </tr>
      </table> <!-- .grid -->

    </td>
  </tr>

</table> <!-- .site__header -->
