$grid-width: 90%;
$grid-columns: 12;

.grid {
  width: ($grid-width * $media-md / 100%);

  @media only screen and (max-width: $media-md) {
    width: 90% !important;
  }


  &__col {

    @media only screen and (max-width: $media-md) {
      display: block;
      width: 100% !important;
    }

    &--4 {
      width: (100% / $grid-columns * 4);
    }

  }

}
