$paragraph-color: $base-color;
$paragraph-font-family-fallback: $base-font-family-fallback;
$paragraph-font-family: $base-font-family;
$paragraph-font-size: $base-font-size;
$paragraph-font-weight: $base-font-weight;
$paragraph-line-height: $paragraph-font-size * $base-line-height;
$paragraph-margin-bottom: 24px;
$paragraph-margin-top: 24px;

p {
  color: $paragraph-color;
  font-family: $paragraph-font-family, $paragraph-font-family-fallback;
  font-size: $paragraph-font-size;
  font-weight: $paragraph-font-weight;
  line-height: $paragraph-line-height;
  margin-bottom: $paragraph-margin-bottom;
  margin-top: $paragraph-margin-top;
}
