<table>
  <tr>
    <td class="grid__col grid__col--4">
      <h3>Column One</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium porro, in maxime eos possimus voluptatum nobis accusantium aspernatur dolorem consequatur nulla voluptas, modi saepe quo impedit, fugiat quam. Eius, in.</p>
    </td>
    <td class="grid__col grid__col--4">
      <h3>Column Two</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium porro, in maxime eos possimus voluptatum nobis accusantium aspernatur dolorem consequatur nulla voluptas, modi saepe quo impedit, fugiat quam. Eius, in.</p>
    </td>
    <td class="grid__col grid__col--4">
      <h3>Column Three</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium porro, in maxime eos possimus voluptatum nobis accusantium aspernatur dolorem consequatur nulla voluptas, modi saepe quo impedit, fugiat quam. Eius, in.</p>
    </td>
  </tr>
</table>
