$base-bgcolor: #fff;
$base-color: #000;
$base-font-family-fallback: sans-serif;
$base-font-family: Helvetica;
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 1.5;

body {
  color: $base-color;
  font-family: $base-font-family, $base-font-family-fallback;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-font-size * $base-line-height;
  margin: 0;
}

p,
li,
td {
  color: $base-color;
  font-family: $base-font-family, $base-font-family-fallback;
  font-size: $base-font-size;
  line-height: $base-font-size * $base-line-height;
}

p {
  margin-bottom: 24px;
  margin-top: 24px;
}
