$body-bgcolor: $base-bgcolor;
$body-color: $base-color;
$body-font-family-fallback: $base-font-family-fallback;
$body-font-family: $base-font-family;
$body-font-size: $base-font-size;
$body-font-weight: $base-font-weight;
$body-line-height: $base-line-height;

body {
  color: $body-color;
  font-family: $body-font-family, $body-font-family-fallback;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-font-size * $body-line-height;
  margin: 0;
}
